@model IEnumerable<Application.Commands.Comments.Quary.Models.CommentDto>

@foreach (var item in Model) {
        <div class="row">
            <div>
                @Html.DisplayFor(modelItem => item.From.Email)
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.Message)
            </div>
            <a asp-action="Delete" asp-route-id="@item.Id">delete</a>
        </div>
}

